body {
  background-color: #edf1fd;
  margin: 0;
  padding: 0;
}

nav {
  width: auto;
  background-color: #212529;
}

nav a {
  text-decoration: none;
}

.hov:hover {
  border-radius: 5%;
  background-color: #edf1fd1d;
}

.bg-Home {
  background-color: #212529;
}

.hero-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
