body {
  background-color: #edf1fd;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #212529;
}

nav a {
  text-decoration: none;
}

.bg-Home {
  background-color: #212529;
}

.bg-Home svg {
  width: 100vh;
}
.hero-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
